body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  overflow: hidden;
}
header {
  height: 50px;
  padding: 0px 20px;
  background: #5560a8;
  color: white;
  overflow: hidden;
}
header #brand {
  height: 100%;
  line-height: 50px;
  float: left;
  font-size: 1.125em;
  font-family: "黑体";
}
header #brand img {
  vertical-align: middle;
  margin-right: 15px;
}
header #session {
  height: 100%;
  line-height: 50px;
  float: right;
  font-size: 0.8125em;
}
header #session a {
  display: inline-block;
  cursor: pointer;
  padding: 0px 10px;
}
header #session a:hover {
  background-color: #4e599c;
}
header #session span {
  font-size: 1.23em;
  margin-right: 5px;
  vertical-align: middle;
}
#content {
  position: absolute;
  left: 0px;
  top: 50px;
  right: 0px;
  bottom: 0px;
}
#content #nav1 {
  width: 180px;
  height: 100%;
  background: #1c2c36;
  float: left;
  color: white;
  font-size: 0.875em;
}
#content #nav1.closed {
  width: 50px;
  text-align: center;
}
#content #nav1.closed a {
  display: none;
}
#content #nav1.closed ul.according > li > span {
  margin: 0px;
}
#content #nav1.closed ul.according > li > ul > li {
  padding: 0px;
}
#content #nav1 #toggle {
  display: block;
  height: 30px;
  line-height: 30px;
  background-color: #263b49;
  cursor: pointer;
  text-align: center;
  border: 1px solid #333333;
}
#content #nav2 {
  width: 180px;
  height: 100%;
  float: left;
  color: #333333;
  font-size: 0.875em;
  display: none;
  border-right: 1px solid #777777;
}
#content #nav2 #toggle2 {
  display: block;
  height: 30px;
  line-height: 30px;
  background-color: #777777;
  cursor: pointer;
  text-align: center;
  border: 1px solid #555555;
}
#content #nav2 section {
  display: none;
}
#content #nav2 section ul {
  padding: 0px;
  margin: 0px;
}
#content #nav2 section ul li {
  list-style: none;
  padding-left: 20px;
  line-height: 35px;
  border-bottom: 1px solid #eeeeee;
}
#content #nav2 section ul li:hover {
  background-color: #767fba;
  color: white;
  cursor: pointer;
}
#content #main {
  height: 100%;
  overflow: hidden;
  background: #e9edf1;
}
#content #main #message {
  height: 30px;
  padding: 0px 20px;
  line-height: 30px;
  background-color: white;
  font-size: 0.75em;
}
ul.according {
  margin: 0;
  padding: 0;
}
ul.according > li {
  list-style: none;
  cursor: pointer;
  border-bottom: 1px dashed #333333;
  background-color: #263b49;
}
ul.according > li > a,
ul.according > li > span {
  line-height: 40px;
  margin-left: 10px;
}
ul.according > li > ul {
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: none;
}
ul.according > li > ul > li {
  line-height: 35px;
  padding-left: 20px;
  cursor: pointer;
  list-style: none;
}
ul.according > li > ul > li > a {
  margin-left: 10px;
}
ul.according > li > ul > li > ul {
  display: none;
}
ul.according > li > ul > li:hover {
  background-color: #5560a8;
}
ul.according > li > ul > li:hover > a::after {
  content: "Ξ";
  float: right;
  margin-right: 20px;
}
