<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/page/statics.css' />
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
  </head>
  <body>
    <div id="userBar">
      <div class="user">
        <img src="/img/man.png" alt="用户头像" />
        <span>你好，胡经理</span>
      </div>
      <div class="items">
        <div class="item">
          <img src="/img/calendar.png" style="margin:20px auto 10px;"/>
          <span>共有10个活动执行</span>
          <a>查看详情</a>
        </div>
        <b class="split pull-left"></b>
        <div class="item">
          <img src="/img/up-arrow.png" />
          <span>60</span>
          <span>接触用户<span>
        </div>
        <b class="split pull-left"></b>
        <div class="item">
          <img src="/img/down-arrow.png" />
          <span>400</span>
          <span>响应用户<span>
        </div>
        <b class="split pull-left"></b>
        <div class="item">
          <img src="/img/v-arrow.png" />
          <span>500</span>
          <span>订购用户<span>
        </div>
        <b class="split pull-left"></b>
        <div class="item">
          <img src="/img/up-arrow.png" />
          <span>80%</span>
          <span>响应率<span>
        </div>
        <b class="split pull-left"></b>
        <div class="item">
          <img src="/img/up-arrow.png" />
          <span>70%</span>
          <span>订购率<span>
        </div>
      </div>
    </div>
    <div id="content">

      <div id="sideBar">
        <div class="sideItem comm-use">
          <div class="title">
            常用功能菜单
          </div>
        </div>

        <div class="sideItem act-show">
          <div class="title">
            营销活动实时动态
          </div>
        </div>

        <div class="sideItem top10">
          <div class="title">
            活动榜top10
          </div>
        </div>
      </div><!-- sideBar -->

      <div id="userTasks">
        <div class="title">我的工作</div>
      </div><!-- userTasks -->
    </div>
  </body>
</html>
